.market{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.title{
    font-size: 56px;
    text-align: center;
    position: relative;
    &:after{
        position: absolute;
        content: "";
        top: 63px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 3px;
        background: #000;
        background-color: #f38181;
    }
}
section ul{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}
section ul li {
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
section ul li.active{
    background: #03a9f4;
    color: #fff;
}
.product{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product .itemBox.hide{
    display: none;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    transform-style: preserve-3d;
}
.container .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}
.container .box::before{
    content: 'New';
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box::after{
    content: 'Computer';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover::before,
.container .box:hover::after{
    opacity: 0.04;
}

.container .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .name{
    top: 40px;
    opacity: 1;
}

.container .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .buy{
    bottom: 30px;
    opacity: 1;
}
.container .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);
}
.container .box .productImg{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px) rotate(15deg);
}
.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy{
    background: #379bf7;
}


@media(max-width:406px){
    .container .box{
        width: 200px;
        height: 300px;
        margin: 20px;
    }
    .container .box .circle{
        width: 150px;
        height: 150px;
    }
    .container .box .productImg{
        max-width: 200px;
    }
    .container .box .buy{
        padding: 5px 20px;
    }
    .container .box::before{
        font-size: 4em;
    }
    .container .box::after{
        font-size: 3em;
        left: 10px;
    }
}

@media(max-width:333px){
    .title{
        font-size: 46px;
    }
    .container{
        width: 250px;
    }
}
